/* Universal Styles */
html {
  font-size: 16px;
  font-family: verdana, sans-serif;
  line-height: 1.5;
}

.flexbox {
  display: flex;
  align-items: center;
}

/* Header */
header {
  height: 4rem;
  width: 100%;
  position: fixed;
  z-index: 20;
  background-color: white;
}

.logo {
  flex-grow: 1;
  padding-left: 1.5rem;
}

.headernav span {
  padding: 0.5rem;
}

.headernav a {
  text-decoration: none;
}
 .logo .colmar {
   font-weight: bold;
 }
.logo .academy {
  color: #85929E;
}

/* Banner */
#banner {
  padding-top: 4rem;
  background-color: #D7DBDD;
}

#banner img {
  width: 60%;
  height: auto;
  margin: 2rem 2.5rem 2rem 1.5rem;
}

#banner .flexbox {
  flex-direction: column;
}

#banner .narrative h1 {
  display: block;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 1.25rem 0;
}

#banner .narrative h2 {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 2.5rem 0;
}

#banner .btn {
  background-color: #85929E;
  padding: 0.5rem 3.75rem;
}

/* First Information Section*/
#information {
  padding-bottom: 2rem;
}
#information .info-main {
  width: 60%;
  padding: 2rem 1.5rem;
}

#information .info-main img {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

#information .info-main h1 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
}

#information .info-main blockquote {
  padding-bottom: 2rem;
}
#information .info-list {
  flex-direction: column;
  width: 40%;
  border-left: 1px solid #D7DBDD;
}

#information .info-image {
  max-width: 35%;
  margin: 1rem;
}

#information .info-image img {
  width: 100%;
  height: auto;
}

#information .info-text {
  max-width: 50%;
}

#information .info-text h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
#information .info-text p {
  margin-bottom: 0.5rem;
}
#information .info-text a {
  text-decoration: none;
}

#information .orientation {
  border-bottom: 1px solid #D7D8DD;
}

#information .lecture {
  background-color: #D7D8DD;
}

/* Course Descriptions */
#courses {
  background-color: #D7D8DD;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

#courses .title h2 {
  width: 100%;
  padding: 2rem 0;
  font-size: 2rem;
  font-weight: bold;
}

#courses .row {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
}
#courses .course-block {
  width: 25%;
  margin: 1.5rem 0;
}

#courses .course-image {
  overflow: hidden;
  height: 13.75rem;
  width: auto;
}

#courses .course-description {
  padding: 1rem;
  background-color: white;
}

#courses .course-description h4 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 1rem 0;
}

#courses .course-description p {
  margin-bottom: 0.5rem;

}
