/* Universal Styles */
html {
  font-size: 14px;
  font-family: verdana, sans-serif;
}

.flexbox {
  display: flex;
  align-items: center;
}

/* Header */
header {
  height: 64px;
  width: 100%;
  position: fixed;
  z-index: 20;
  background-color: white;
}

.logo {
  flex-grow: 1;
  padding-left: 24px;
}

.headernav span {
  padding: 8px;
}

.headernav a {
  text-decoration: none;
}
 .logo .colmar {
   font-weight: bold;
 }
.logo .academy {
  color: #85929E;
}

/* Banner */
#banner {
  padding-top: 65px;
  background-color: #D7DBDD;
}

#banner img {
  width: 60%;
  height: auto;
  margin: 32px 40px 32px 24px;
}

#banner .flexbox {
  flex-direction: column;
}

#banner .narrative h1 {
  display: block;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 20px 0px;
}

#banner .narrative h2 {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 40px 0px;
}

#banner .btn {
  background-color: #85929E;
  padding: 8px 60px;
}

/* First Information Section*/
#information .info-main {
  width: 60%;
  padding: 32px 24px;
}

#information .info-main img {
  width: 90%;
  height: auto;
  margin-bottom: 32px;
}

#information .info-main h1 {
  margin-bottom: 24px;
  font-size: 2rem;
  font-weight: bold;
}

#information .info-main blockquote {
  padding-bottom: 32px;
}
#information .info-list {
  flex-direction: column;
  width: 40%;
  border: 1px solid #D7DBDD;
}

#information .info-image {
  max-width: 35%;
  margin: 16px;
}

#information .info-image img {
  width: 100%;
  height: auto;
}

#information .info-text {
  max-width: 50%;
}

#information .info-text h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 8px;
}
#information .info-text p {
  margin-bottom: 8px;
}
#information .info-text a {
  text-decoration: none;
}

#information .orientation {
  border-bottom: 1px solid #D7D8DD;
}

#information .lecture {
  background-color: #D7D8DD;
}
