/* Universal Styles */
html {
  font-family: verdana, sans-serif;
  line-height: 1.5;
}

.flexbox {
  display: flex;
  align-items: center;
}

/* Header */
header {
  height: 64px;
  width: 100%;
  position: fixed;
  z-index: 20;
  background-color: white;
}

.mobile {
  display: none;
}

.logo {
  flex-grow: 1;
  padding-left: 24px;
}

.headernav span {
  padding: 8px;
}

.headernav a {
  text-decoration: none;
}
 .logo .colmar {
   font-weight: bold;
 }
.logo .academy {
  color: #85929E;
}

@media only screen and (max-width: 650px) {
  header.desktop {
    display: none;
  }

  .mobile {
    display: block;
    background-color: white;
    height: 64px;
    width: 100%;
  }

  .mobilenav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 8px;
  }

  .mobilenav img {
    height: 60px;
    width: auto;
  }
}

/* Banner */
#banner {
  padding: 64px 32px 32px 24px;
  background-color: #D7DBDD;
}

#banner img {
  width: 60%;
  height: auto;
  margin: 32px 40px 0 0;
}

#banner .flexbox {
  flex-direction: column;
}


#banner .narrative h1 {
  display: block;
  font-size: 32px;
  font-weight: bold;
  margin: 16px 0;
}

#banner .narrative h2 {
  display: block;
  font-size: 24px;
  font-weight: bold;
  margin: 40px 0;
}

#banner .btn {
  background-color: #85929E;
  padding: 8px 32px;
}

/* Banner Mobile */
@media only screen and (max-width: 650px) {
  #banner {
    display: block;
    padding: 0;
  }

  #banner img {
    height: auto;
    width: 100%;
    overflow: hidden;
    margin: 0;
  }

  #banner .narrative {
    display: block;
    padding: 32px 16px;
  }

  #banner .narrative h1 {
    display: block;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 32px;
  }

  #banner .narrative h2 {
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
  }

  #banner .btn {
    background-color: #85929E;
    padding: 16px 32px;
    width: 80%;
    margin-bottom: 32px;
    text-align: center;
    font-color: white;
    font-weight: bold;
  }
}

/* First Information Section*/
#information {
  padding-bottom: 32px;
}
#information .info-main {
  width: 60%;
  padding: 32px 24px;
}

#information .info-main img {
  width: 100%;
  height: auto;
  margin-bottom: 32px;
}

#information .info-main h1 {
  margin-bottom: 24px;
  font-size: 32px;
  font-weight: bold;
}

#information .info-main blockquote {
  padding-bottom: 32px;
}
#information .info-list {
  flex-direction: column;
  width: 40%;
  border-left: 1px solid #D7DBDD;
}

#information .info-image {
  max-width: 35%;
  margin: 16px;
}

#information .info-image img {
  width: 100%;
  height: auto;
}

#information .info-text {
  max-width: 50%;
  padding: 16px 0;
}

#information .info-text h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}
#information .info-text p {
  margin-bottom: 8px;
}
#information .info-text a {
  text-decoration: none;
}

#information .orientation {
  border-bottom: 1px solid #D7D8DD;
}

#information .lecture {
  background-color: #D7D8DD;
}

/* Information Mobile */
@media only screen and (max-width: 650px) {

  #information .info-main {
    display: none;
  }

  #information .info-list {
    width: 100%;
    display: block;
    padding: 16px;
  }

  #information .info-image {
    max-width: 100%;
    max-height: 220px;
    margin: 0 auto;
    overflow: hidden;
  }

  #information .info-image img {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }

  #information .info-text {
    display: block;
    max-width: 80%;
    padding: 16px 0 16px 16px;
  }

  #information .block {
    display: block;
  }

  #information .lecture {
    background-color: white;
    padding-bottom: 0;
  }

}
/* Course Descriptions */
#courses {
  background-color: #D7D8DD;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 32px 0px;
}

#courses .start h2 {
  width: 100%;
  padding: 0 0 32px 0;
  font-size: 24px;
  font-weight: bold;
}

#courses .row {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}
#courses .course-block {
  width: 25%;
  margin: 0 16px 16px 32px;
  background-color: white;
}

#courses .course-image {
  overflow: hidden;
  max-height: 220px;
}

#courses .course-image img {
  max-height: 182px;
  width: 100%;
}

#courses .course-description {
  padding: 0 16px 24px 16px;
  background-color: white;
}

#courses .course-description h4 {
  font-size: 18px;
  font-weight: bold;
  margin: 16px 0 8px 0;
}

#courses .course-description p {
  font-size: 18px;

}
#courses .course-description .title {
  padding: 8px 0px;
}
 #courses .course-description span {
   padding: 8px 0;
 }
/* Thesis exhibit */
#thesis {
  padding: 32px 0;
}

#thesis .thesis-title {
  width: 100%;
  margin-bottom: 32px;
  text-align: center;
}
#thesis h1 {
  font-size: 24px;
  font-weight: bold;
}

#thesis .thesis-main {
  width: 60%;
  padding: 0 16px 0 24px;
}

#thesis .thesis-main .video {
  padding-bottom: 32px;

}

#thesis .thesis.flexbox {
  align-items: flex-start;
}

#thesis .thesis-main h2 {
  margin-bottom: 24px;
  font-size: 32px;
  font-weight: bold;
}

#thesis .thesis-main blockquote {
  padding-bottom: 32px;
}
#thesis .thesis-list {
  flex-direction: column;
  width: 40%;
}

#thesis .thesis-image {
  max-width: 35%;
  margin: 16px;
}

#thesis .thesis-image img {
  width: 100%;
  height: auto;

}

#thesis .thesis-text {
  max-width: 50%;
  padding: 16px 0;
}

#thesis .thesis-text h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}
#thesis .thesis-text p {
  margin-bottom: 8px;
}

#thesis .fisma {
  background-color: #D7D8DD;
}

/* Footer */
footer {
  width: 100%;
  border-top: 1px solid black;
  height: 64px;
  font-size: 12px;
}

.legal {
  flex-grow: 1;
  padding-left: 24px;
}

.footnav span {
  padding: 8px;
}

.footnav a {
  text-decoration: none;
}
